@{
    ViewData["Title"] = "Start sending";
}

<div class="d-flex justify-content-center flex-direction: center mb-2">
    <h1>Отправка Email</h1>
   
</div>  
 <div>
        <a href="/Email/SendEmail" class="col-md-3 offset-md-1 btn btn-secondary" >
            Начать отправку
        </a>
        <a href="/Home/Index" class="col-md-3 offset-md-4 btn btn-secondary" >
            Вернуться на главную старницу
        </a>
    </div>
