@{
    ViewData["Title"] = "Сохранить УНП";
}

<div class="d-flex justify-content-center flex-direction: center mb-2">
    <h1>Запись сохранена успешно</h1>
</div>  
<a href="/Home/AddLocal" class="col-md-3 offset-md-4 btn btn-secondary" >
        Назад
</a>

