@{
    ViewData["Title"] = "Save Page";
}

<div class="d-flex justify-content-center flex-direction: center mb-2">
    <h1>@ViewData["Success"]</h1>
</div>  
<a href="/Home/Index" class="col-md-3 offset-md-4 btn btn-secondary" >
        Назад
</a>
